/* stylelint-disable no-descending-specificity */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

/* Fonts */
@font-face {
  font-family: sm;
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: md;
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: lg;
  src: url("../fonts/Lato-Black.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Nav */
.nav-wrapper {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  font-family: lg;
  padding: 1rem;
  margin: 1rem;
}

.nav-wrapper #logo {
  text-decoration: none;
  color: #7b90f7;
  transition: all 0.3s;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#border-both {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.nav-item .nav-link {
  padding: 1rem;
  color: #7b90f7;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-item .nav-link:hover,
.nav-wrapper #logo:hover {
  color: #1d40ec;
}

/* Header Section */
header #date {
  text-align: right;
  margin-right: 2rem;
  margin-left: 2rem;
  font-family: sm;
}

header h1 {
  color: #7b90f8;
  text-align: center;
  font-size: 3rem;
  padding: 0;
  margin: 1rem 0 2rem;
  font-family: lg;
}

/* Book container section */
#book-list {
  width: 50%;
  margin: 0 auto 3rem;
  position: relative;
}

#book-list div:nth-child(odd) {
  background-color: #ced5fa;
}

#book-list div:nth-child(even) {
  background-color: #e8ecff;
}

#book-info {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

#book-info .p-tag {
  font-size: 1.2rem;
  font-family: lg;
}

#book-info .close-btn {
  background-color: red;
  color: white;
  font-size: 1.2rem;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-family: lg;
  box-shadow: 2px 2px 6px black;
  border-radius: 5px;
  transition: 0.3s linear;
}

#book-info .close-btn:hover {
  transform: scale(0.97, 0.97);
  background-color: transparent;
  border: 1px solid black;
  color: red;
}

/* new book section */
#section, 
#new-book,
#book-list {
  display: none;
}

.form-header {
  color: #7b90f7;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 2rem 0;
  font-family: md;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto 3rem;
}

form #title,
form #author {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 2px solid #ced5fa;
  transition: 0.3s linear;
  font-size: 1rem;
  font-family: md;
  border-radius: 5px;
}

form #title:hover,
form #author:hover {
  border-color: #7b90f7;
  box-shadow: 2px 2px 50px #a5b3fc;
}

form #title:focus,
form #author:focus {
  outline: none;
  border-color: #7b90f7;
  box-shadow: 2px 2px 50px #a5b3fc;
}

form input[type=submit] {
  padding: 1rem;
  font-family: lg;
  font-size: 1.2rem;
  background-color: #2b7a0b;
  color: #fff;
  border: 0;
  border-radius: 5px;
  transition: 0.3s linear;
  width: 98%;
  margin: 0 auto;
}

form input[type=submit]:hover {
  background-color: #1a4d2e;
  transform: scale(1.02, 1.02);
}

.error {
  color: #7b90f7;
  font-size: 1.2rem;
  font-family: lg;
  text-align: center;
}

.p-wrapper {
  width: 50%;
  margin: 0 auto;
  font-family: md;
  font-size: 1.5rem;
}

.p1 {
  margin-left: 1rem;
}

.p2 {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.p-wrapper ul {
  margin-left: 4rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 9%;
  padding: 1rem;
  font-family: lg;
}

/* dynamic Application Logic */
.hide {
  display: none;
  transition: all 0.3s;
}

.show {
  display: block;
  transition: all 0.3s;
}

/* Mobile Version */
@media screen and (max-width: 768px) {
  #book-list {
    width: 95%;
    margin: 0 0.5rem 3rem;
    position: relative;
  }

  #book-info .p-tag {
    font-size: 1rem;
  }

  #book-info .close-btn {
    padding: 0.2rem;
    font-size: 1rem;
  }

  /* new book seciton */
  form {
    width: 95%;
    margin: auto 0.5rem;
  }

  form #title,
  form #author {
    font-size: 1.2rem;
  }
}
